.App {
  text-align: center;

  width: 500px;
}

#root {
  display: flex;
  align-content: center;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #059c00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header-text {
  overflow: hidden;
}
.app-header-text .asd {
  font-size: 36pt;
  background-color: black;
  transform: scaleX(1.5);
} 

.main-wrapper {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.hole-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding-bottom: 50px;
}

.hole-wrapper .header-slot {
  flex-grow: 1;
  font-size: 28pt;
}

.hole-wrapper .hole-button {
  height: 75px;
  width: 75px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.club-selector {
  width: 100%;
  min-height: 150px;
}

button {
  font-weight: bold;
  font-size: 24pt;
}

.horizontal-row {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.vertical-row {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.vertical-row > button,
.horizontal-row > button {
  flex-grow: 1;
  min-height: 75px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.grid > button {
  min-width: 33.3%;
  min-height: 75px;
}
.grid > button.half {
  min-width: 50%;
}

.shot-list-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.shot-list-wrapper .header-text  {
  margin-bottom: 20px;
}

.shot-list-wrapper .shot-list-item {
  display: flex;
  text-align: left;
  margin: 10px 0;
}
.shot-list-wrapper .shot-list-item .text {
  width: 125px;
  padding-left: 10px;
}
.shot-list-wrapper .shot-list-item .count {
  flex-grow: 1;
}
.shot-list-wrapper .shot-list-item button {
  width: 50px;
  margin-right: 10px;
}